/* Основной контейнер */
.password-reset {
    width: 100%;
    padding: 70px 144px;
    border-radius: 30px;
    border: 2px solid var(--primary);
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
    align-items: baseline;
}

.password-reset .logo {
    text-align: center;
}
.password-reset .logo img {
    height: 60px;
}
.password-reset .title-form {
    color: var(--primary);
    font-size: 36px;
    text-align: center;
}
.password-reset .p2 {
    color: #888;
    font-size: 18px;
    margin: 0 0 10px 0;
}
.password-reset-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    align-items: end;
}
.password-reset-form .form-floating {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    text-align: left;
}
.password-reset-form .form-control.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--stroke);
    border-radius: 5px;
    font-size: 16px;
    color: var(--stroke);
}
.password-reset-form .label-input {
    font-size: 15px;
    color: var(--primary);
}
.password-reset-form .btn {
    width: 100%;
    background: var(--primary);
    color: #fff;
    border-radius: 8px;
    padding: 10px 0;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
}
.password-reset-form .btn:hover {
    background: var(--hover);
}

.forgot-password-alert {
    margin-top: 20px;
    text-align: center;
}
@media (max-width: 900px) {
    .password-reset {
        padding: 40px 20px;
        max-width: 98vw;
    }
    .password-reset-form {
        grid-template-columns: 1fr;
        gap: 16px;
    }
    .btn.empty.exit {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .password-reset {
        padding: 20px 5px;
        border-radius: 16px;
        gap: 18px;
    }
    .password-reset .title-form {
        font-size: 24px;
    }
    .password-reset .p2 {
        font-size: 15px;
    }
} 